body{
    background-color: rgb(255, 250, 245);
}

h1{
    color: rgb(0, 0, 128);
    text-align: center;
    font-size: xx-large;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}

h3{
    color: black;
    text-align: center;
    font-size: 14px;
}

div{
    text-align: center;
}

input{
    background-color: rgb(255, 253, 251);
    width: 86%;
    height: 30px;
    font-size: medium;
    border-color: rgb(192, 192, 192);
    border-radius: 5px;
}

button{
    width: 10%; 
    height: 36px;
    background-color: rgb(255, 240, 128); 
    text-align: center;
    font-size: medium;
    /*border: 1px black;*/
    border-radius: 10px;
}

textarea{
    background-color: rgb(255, 252, 250);
    width: 97%;
    height: 600px;
    font-size: medium;
}

p{
    color: rgb(0, 0, 0);
    size: 50pt;
}

.output{
    border:1px solid #a0b3d6;
    min-height: 600px;
    font-size: medium;
    padding: 4px;
    color: #333;
    background-color: rgb(255, 252, 250);
    outline: 0; 
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
    left: 50%;
    right: 50%;
  }

 .output:empty::before{
    content:attr(placeholder);
    color: #999;
  }
