body{
    background-color: rgb(255, 250, 245);
    width: 1240px;
    margin: 20px;
}

.nav{
    width: 1000px;
    height: 22px;
    padding-bottom: 1px;
}

.nav .none{
    float: left;
}

.nav .fun1{
    text-align: center;
    width: 72px;
    height: 22px;
    margin-right: 0;
    float: left;
}

.nav .fun2{
    text-align: center;
    width: 72px;
    height: 22px;
    margin-left: 0;
    float: left;
}

.nav #fun1{
    text-align: center;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 72px;
    height: 22px;
    border: 1px rgb(128, 128, 128);
    border-top-right-radius: 12px;
    border-style: solid;
    border-right-style: none;
    margin-right: 0;
}

.nav #fun2{
    text-align: center;
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 72px;
    height: 22px;
    border: 1px rgb(128, 128, 128);
    border-top-right-radius: 12px;
    border-style: solid;
    margin-left: 0;
}

.nav #fun1:active{
    color: rgb(255, 255, 255);
}

.nav #fun1:hover{
    background-color: rgb(128, 128, 128);
}

.nav #fun2:active{
    color: rgb(255, 255, 255);
}

.nav #fun2:hover{
    background-color: rgb(128, 128, 128);
}

.headline{
    width: 100%;
}

.img{
    float: left;
}

.search{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(0, 0, 128);
    margin-right: 0;
    float: left;
    padding-bottom: 5px;
    padding-left: 3px;
}

.input{
    width: auto;
    float:left;
}

.button{
    float: none;
    margin-left: auto;
    margin-right: 0;
}

.input input{
    background-color: rgb(255, 253, 251);
    width: 950px;
    height: 30px;
    font-size: medium;
    box-sizing: border-box;
    outline: 0;
    border: 1px rgb(128, 128, 128);
    border-bottom-left-radius: 6px;
    border-style: solid;
}

.button button{
    width: 72px; 
    height: 30px;
    background-color: rgb(255, 240, 128); 
    text-align: center;
    font-size: medium;
    vertical-align: top;
    outline: none;
    border: 1px rgb(128, 128, 128);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-style: solid;
    border-left-style: none;
    margin-right: 0;
}

.button button:hover{
    background-color: rgb(128, 110, 48); 
}

.button button:active{
    color:rgb(255, 255, 255);
}

.description{
    color: rgb(0, 64, 64);
    text-align: left;
    font-size: 12px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 6px;
}

.recommend{
    color: rgb(0, 0, 32);
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin: 6px;
}

.output{
    border:1px solid #a0b3d6;
    min-height: 420px;
    font-size: medium;
    padding: 4px;
    color: #333;
    background-color: rgb(255, 252, 250);
    outline: 0; 
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
}

.output2{
    border:1px solid #a0b3d6;
    min-height: 100px;
    font-size: medium;
    padding: 4px;
    color: #333;
    background-color: rgb(255, 252, 250);
    outline: 0; 
    text-align: left;
    vertical-align: middle;
    border-radius: 4px;
}

#output2_1{
    min-height: 100px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#output2_2{
    min-height: 300px
}

.searching{
    font-family: 'Times New Roman', Times, serif;
}

.paper{
    background-color: rgb(255, 252, 250);
    font-family:'Times New Roman', Times, serif;
}

.paper_title{
    color: rgb(10, 10, 10);
    font-size: 18px;
}

.paper_author{
    color: rgb(128, 128, 128);
    font-size: 12px;
    float: left;
    padding-top: 4px;
}

.paper_venue{
    color: rgb(128, 128, 128);
    font-size: 12px;
    float: left;
    padding-top: 4px;
}

.paper_year{
    color: rgb(128, 128, 128);
    font-size: 12px;
    float: left;
    padding-top: 4px;
}

.paper_relate{
    height: 11px;
}

.paper_relate button{
    text-align: center;
    text-decoration: underline;
    font-size: 9px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(128, 0, 0);
    line-height: 11px;
    background-color: rgb(255, 252, 250);
    border-style: none;
}

.paper_relate button:hover{
    text-align: center;
    font-size: 9px;
    color: rgb(255, 0, 255);
    line-height: 11px;
    background-color: rgb(255, 252, 250);
    border-style: none;
}

.paper_relate button:active{
    text-align: center;
    font-size: 9px;
    color: rgb(128, 128, 128);
    line-height: 11px;
    background-color: rgb(255, 252, 250);
    border-style: none;
}

.paper_partition{
    color: rgb(128, 128, 128);
    font-size: 12px;
    float: left;
    padding-top: 4px;
}

.paper_abstract_description{
    color: rgb(32, 32, 192);
    font-size: 12px;
    float: left;
}

.paper_abstract{
    color: rgb(32, 32, 32);
    font-size: 12px;
}
